In [2]:
import pandas as pd

data = pd.read_csv('kai_labels.csv', encoding = 'utf-8') #한글 글자별 레이블이 부여된 csv 파일
data.head()

   id char     freq
0   0       5774462
1   1    .   640924
2   2    그   556373
3   3    이   509291
4   4    는   374559

In [8]:
def head(list_):
    print(list_[:5])

In [16]:
ch_list = list(data['char']) #모든 글자가 담긴 리스트
idx_list = list(data['id']) #모든 id(레이블)이 담긴 리스트
head(ch_list)
head(id_list)

[' ', '.', '그', '이', '는']
[0, 1, 2, 3, 4]

In [84]:
idx2char = dict() #id - char에 해당되는 dictionary
char2idx = dict() #char - id에 해당되는 dictionary
for idx, char in  zip(idx_list, ch_list):
    idx2char[idx] = char
    char2idx[char] = idx 

print(char2idx['지']) #글자 '지'의 레이블은 10
print(idx2char[10]) #id : 10의 글자는 '지'

10
지

In [49]:
def string2label(test): #텍스트를 레이블로 바꾸는 함수
    id_str = str()
    for idx, ch in enumerate(test):
        id_str += str(char2idx[ch])
        if idx !=  len(test)-1:
            id_str += " "
    return id_str

In [81]:
def label2string(label): #레이블을 텍스트로 바꾸는 함수
    label_str = str()
    idxs = label.split(" ")
    for ch in idxs:
        if ch.isnumeric():
            label_str += idx2char[int(ch)]
    return label_str

In [86]:
text = "안녕하세요! 만나서 반갑습니다! 저는 코딩을 열심히 공부할거에요"

print("test : ",text)
print("텍스트를 레이블로 변환: ", string2label(text))
label = string2label(test)
print("레이블을 텍스트롤 변환: ", label2string(label))

test :  안녕하세요! 만나서 반갑습니다! 저는 코딩을 열심히 공부할거에요
텍스트를 레이블로 변환:  37 960 14 163 69 676 0 46 13 16 0 215 308 368 20 15 676 0 127 4 0 345 523 28 0 228 200 110 0 143 90 91 9 17 69
레이블을 텍스트롤 변환:  안녕하세요! 만나서 반갑습니다! 저는 코딩을 열심히 공부할거에요